- content_for(:title) { @article.title }

- if @article.thumbnail_url.present?
  .featured_article
    .thumbnail= image_tag @article.thumbnail_url
    .title= @article.title
- else
  .article
    .title= @article.title

.summary= raw @article.description

.lead_button
  = link_to 'この記事を読む', @article.url

%h2
  %i.fa.fa-search
  関連する記事
- cache @article, expires_in: 10.minutes do
  - @article.related_articles(3).each do |article|
    = link_to article_path(article) do
      .article
        .link= article.title
