%h2.category_name= @category.name
- @articles.each_with_index do |article, index|
  - if index % 5 == 0 && article.thumbnail_url.present?
    = link_to article_path(article) do
      .featured_article
        .thumbnail= image_tag article.thumbnail_url
        .title= article.title
  - else
    = link_to article_path(article) do
      .article
        .title= article.title
