!!!
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %title= title
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width; initial-scale=1.0; maximum-scale=1.0, user-scalable=0;' }
  %body
    %h1.title
      = link_to root_path do
        %i.fa.fa-newspaper-o
        = t('title')
    = yield
    .powered_by= t('powered_by')
